[submodule "climberAPI"]
	path = climberAPI
	url = git@github.com:xmravec3/ClimberAPI.git
[submodule "mysqldb"]
	path = mysqldb
	url = git@github.com:xmravec3/DockerMySQL.git
[submodule "climberWeb"]
	path = climberWeb
	url = git@github.com:xmravec3/ClimberWEB.git
